@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.about {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 40px;
  padding-bottom: 34px;

  @include m.tablet {
    padding-top: 61px;
    padding-bottom: 120px;
  }

  @include m.desktop {
    @include m.container;
    display: grid;
    grid-template-columns: 355px 1fr;
    padding-top: 120px;
    padding-bottom: 242px;
  }
}

.about__desk {
  display: block;
  margin-bottom: 36px;

  @include m.tablet {
    margin-bottom: 35px;
  }

  @include m.desktop {
    margin-bottom: 95px;
    text-align: left;
  }
}

.about__title {
  margin-bottom: 12px;

  @include m.tablet {
    margin-bottom: 20px;
  }

  @include m.desktop {
    margin-bottom: 25px;
    text-align: left;

  }
}

.about p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0 100px;
  }

  @include m.desktop {
    padding: 0;
    text-align: left;
  }
}

.about p:last-child {
  display: none;

  @include m.desktop {
    display: block;
    margin-top: 8px;
  }
}

.about__text-wrapper {
  @include m.container;

  @include m.desktop {
    margin-left: -2px;
    padding: 0;
    width: auto;
  }
}

.about__media-wrapper {

  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0 auto;

  @include m.tablet {
    position: relative;
    gap: 0;
  }

  @include m.desktop {
    margin: 0;
    align-items: flex-end;
  }
}

.about__img {
  width: 320px;
  height: 280px;
  background-size: cover;

  @include m.tablet {
    width: 678px;
    height: 345px;
  }

  @include m.desktop {
    width: 660px;
    height: 400px;
  }
}
