@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.faq {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: v.$lightest-gray;

  @include m.tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include m.desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.faq__wrapper {
  @include m.desktop {
    @include m.container;

    display: grid;
    grid-template-columns: 260px 1fr;
    row-gap: 50px;
    column-gap: 40px;
  }
}

.faq__title {
  margin-bottom: 35px;
  text-align: center;

  @include m.tablet {
    margin-bottom: 44px;
  }

  @include m.desktop {
    margin-bottom: 0;
    grid-column: 1/-1;
    text-align: left;
  }
}

.faq__tabs {
  @include m.list-reset;
  @include m.container;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 36px;

  @include m.tablet {
    margin-bottom: 44px;
  }

  @include m.desktop {
    grid-column: 1/2;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.faq__tab {
  min-width: 140px;
  display: flex;
  font-size: 16px;
  line-height: 100%;
  padding: 14px 22px;
  align-content: center;
  justify-content: center;
  border: 1px solid v.$primary20;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease;
  cursor: pointer;

  @include m.tablet {
    font-size: 18px;
    padding: 18px 38px;
    min-width: 162px;
  }

  @include m.desktop {
    min-width: 260px;
  }
}

.faq__tab:hover,
.faq__tab:focus {
  border-color: v.$primary;
}

.faq__tab:active,
.faq__tab--active {
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  color: v.$white;
  border-image-source: linear-gradient(90deg, v.$red 0%, v.$blue 100%);
  border-image-slice: 1;
}

.faq__tab:disabled {
  color: v.$light-gray;
  border: 1px solid v.$primary20;
}

.faq__list {
  @include m.list-reset;
  @include m.container;

  display: none;
}

.faq__list--active {
  display: grid;

  @include m.desktop {
    grid-column: 2/-1;
    padding: 0;
    margin: 0;
    width: auto;
  }
}

.faq__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto;
  column-gap: 22px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid v.$divider;
  box-sizing: border-box;

  @include m.tablet {
    justify-content: space-between;
    grid-template-columns: 1fr min-content;
    column-gap: 80px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  @include m.desktop {
    grid-template-columns: 660px min-content;
  }
}

.faq__item:last-child {
  border-bottom: 1px solid v.$divider;
}

.faq__item h3 {
  @include m.list-reset;

  margin: 0;
  font-size: 20px;
  line-height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;

  @include m.tablet {
    font-size: 22px;
  }

  @include m.desktop {
    font-size: 24px;
  }
}

.faq__item div {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/-1;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

}

.faq__item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @include m.tablet {
    font-size: 18px;
    line-height: 24px;
  }
}

.faq__item p:first-child {
  padding-top: 20px;
  @include m.tablet {
    padding-top: 22px;
  }
}

.faq__button {
  position: relative;
  grid-column: 2/-1;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid v.$dark-blue;
  background-color: transparent;
  cursor: pointer;
  right: 0;
  top: 0;

  @include m.tablet {
    width: 40px;
    height: 40px;
  }
}

.faq__button--opened {
  background-color: v.$dark-blue;
}

.faq__button--opened::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: v.$white;
  left: 26%;

  @include m.tablet {
    width: 20px;
    left: 9px;
    top: 18px;
  }
}

.faq__button--closed {
  background-color: transparent;
}

.faq__button--closed::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: v.$dark-blue;
  left: 26%;

  @include m.tablet {
    width: 20px;
    left: 9px;
    top: 18px;
  }
}

.faq__button--closed::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 14px;
  background-color: v.$dark-blue;
  left: 48%;
  top: 24%;

  @include m.tablet {
    height: 20px;
    left: 18px;
    top: 9px;
  }
}
