@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.faq {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: v.$lightest-gray;
}

.faq__title {
  margin-bottom: 35px;
}

.faq__list {
  @include m.list-reset;
  @include m.container;
}

.faq__tabs {
  @include m.list-reset;
  @include m.container;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.faq__tab {
  min-width: 140px;
  display: flex;
  padding: 14px 22px;
  align-content: center;
  justify-content: center;
  border: 1px solid v.$primary20;
  background-color: transparent;
}

.faq__item {
  display: grid;
  grid-template-columns: 180px min-content;
  column-gap: 80px;
  row-gap: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.faq__item h3 {
  margin: 0;
  font-size: 20px;
  line-height: 100%;
}

.faq__item p {
  grid-column: 1/3;
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq__button {
  position: relative;
  grid-column: 2/-1;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid v.$dark-blue;
  background-color: transparent;
  cursor: pointer;
}

.faq__button--opened {
  background-color: v.$dark-blue;
}

.faq__button--opened::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 1px;
  background-color: v.$white;
  left: 30%;
}

.faq__button--closed {
  background-color: transparent;
}

.faq__button--closed::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 1px;
  background-color: v.$dark-blue;
  left: 30%;
}

.faq__button--closed::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background-color: v.$dark-blue;
  left: 48%;
  top: 24%;
}




