@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;


.footer {
  background-color: v.$black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__wrapper {
  @include m.container;
  display: flex;
  flex-direction: column;
  color: v.$white;
  gap: 30px;

  @include m.tablet {
    flex-direction: row;
    gap: 35px;
  }

  @include m.desktop {
    justify-content: space-between;
    align-content: center;
  }
}

.footer__nav {
  display: flex;

}

.footer__list {
  @include m.list-reset;
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 20px;
  font-size: 14px;
  line-height: 20px;

  @include m.tablet {
    gap: 30px;
  }

  @include m.desktop {
    column-gap: 82px;
  }
}
