@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
  @include m.tablet {

  } @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
  }
  @include m.desktop {
    column-gap: 30px;
    row-gap: 36px;
  }
}

.form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid v.$divider;
  padding-bottom: 8px;

}

.form__input--name {
  @include m.desktop {
    grid-column: 1/2;
  }
}

.form__input--tel {
  @include m.desktop {
    grid-column: 2/3;
  }
}

.form__input::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  opacity: 0.4;
}

.form__button {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: transparent;

  @include m.tablet {
    padding-top: 25px;
    padding-bottom: 25px;
    grid-column: 1/-1;

  }

  @include m.desktop {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
