@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
    column-gap: 30px;
  }

  @include m.desktop {
    column-gap: 30px;
  }
}

.form__text {
  position: relative;
}

.form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid v.$divider;
  padding: 4px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: v.$white;
}

.form__input:hover {
  border-color: v.$white;
}

.form__input:focus,
.form__input:focus-visible {
  border: 1px solid v.$white;
}

.form__input:disabled {
  color: v.$white40;
  border: 0;
  border-bottom: v.$white30;
}

.form__input--name {
  @include m.desktop {
    grid-column: 1/2;
  }
}

.form__input--tel {
  @include m.desktop {
    grid-column: 2/3;
  }
}

.form__input::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.4;
  color: v.$white40;
}

.form__error {
  position: absolute;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  color: v.$error;
  bottom: -25px;
  left: 0;
}

.form__input--error {
  border-bottom: 1px solid v.$error;
}

.form__button {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: transparent;
  margin-top: 4px;

  @include m.tablet {
    padding-top: 26px;
    padding-bottom: 24px;
    grid-column: 1/-1;
    margin: 0;
  }

  @include m.desktop {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
