@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.hero {
  @include m.container;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 28px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-top: 28px;
    padding-bottom: 20px;
  }
}

.hero__img {
  @include m.only-mobile {
    display: none;
  }

  @include m.tablet {
    background-image: image-set(url("../../img/hero-img@2x.webp") 2x type("image/webp"),
        url("../../img/hero-img.webp") 1x type("image/webp"),
        url("../../img/hero-img@2x.jpg") 2x type("image/jpg"),
        url("../../img/hero-img.jpg") 1x type("image/jpg"));
    width: 324px;
    height: 390px;
  }

  @include m.desktop {
    background-image: image-set(url("../../img/hero-img-big@2x.webp") 2x type("image/webp"),
        url("../../img/hero-img-big.webp") 1x type("image/webp"),
        url("../../img/hero-img-big@2x.jpg") 2x type("image/jpg"),
        url("../../img/hero-img-big.jpg") 1x type("image/jpg"));
    width: 500px;
    height: 524px;
  }
}

.hero__title {
  font-family: "Alumni Sans", sans-serif;
  margin: 0;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  letter-spacing: 0.02em;
  text-align: right;
  text-transform: uppercase;

  @include m.tablet {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.03em;
  }

  @include m.desktop {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 0.04em;
    margin-right: 2px;
  }
}

.hero__subtitle {
  font-family: "Alumni Sans", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: right;
  margin-bottom: 14px;
  margin-top: 48px;

  @include m.tablet {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 42px;
    margin-right: 2px;
  }

  @include m.desktop {
    font-size: 54px;
    margin-bottom: 42px;
  }
}

.hero__list {
  @include list-reset;
  font-size: 14px;
  line-height: 20px;
  text-align: right;

  @include m.tablet {
    line-height: 22px;
    padding-bottom: 26px;
  }

  @include m.desktop {
    padding-bottom: 0;
    margin-top: 12px;
  }
}

.hero__button {
  text-decoration: none;
  color: v.$white;
  border-color: v.$white;
  padding-top: 22px;
  padding-bottom: 22px;

  @include m.tablet {
    padding: 20px 37px;
    margin-right: 2px;
  }

  @include m.desktop {
    padding: 26px 80px;
  }
}

.hero__wrapper {
  @include m.tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @include m.desktop {
    padding-top: 50px;
    margin-right: 40px;

  }
}

.hero__text-wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 21px;
  align-items: end;
  padding-bottom: 48px;

  @include m.tablet {
    gap: 26px;
    padding-bottom: 49px;
    align-items: center;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
    gap: 10px;
  }
}
