@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.juri {
  @include m.container;

  padding-top: 40px;
  padding-bottom: 40px;


  @include m.tablet {
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @include m.desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.juri__swiper {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.juri .swiper {
  position: static;
  width: 260px;

  @include m.tablet {
    width: 560px;
  }

  @include m.desktop {
    width: 1160px;
  }
}

.juri__title {
  margin-bottom: 20px;
  text-align: center;

  @include m.tablet {
    font-size: 54px;
    margin-bottom: 46px;
  }
}

.juri__list {
  @include m.list-reset;

  display: flex;
  align-items: center;

  @include m.tablet {
    width: 83%;
  }

  @include m.desktop {
    width: 100%;
  }
}

.juri__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  margin: 0 auto;
}

.juri__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.juri__name {
  position: absolute;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
  bottom: 8%;
  left: 0;
  right: 0;
  color: v.$white;
}

.juri__button {
  @include m.only-mobile {
    display: none;
  }

  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid transparent;
}

.juri .swiper-button-prev {
  @include m.tablet {
    width: 50px;
    height: 50px;
    top: 280px;
    left: 45px;
  }

  @include m.desktop {
    top: 344px;
    left: 35px;
  }
}

.juri .swiper-button-next {
  @include m.tablet {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 280px;
    right: 45px;
  }

  @include m.desktop {
    top: 344px;
    right: 35px;
  }
}

.juri .swiper-button-prev::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 34px;
  background-color: v.$primary;
  mask-image: url("/__spritemap#sprite-slider-icon-view");
  transform: rotate(180deg);
  mask-repeat: no-repeat;
  left: 12px;
  top: 7px;
}

.juri .swiper-button-next::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 34px;
  background-color: v.$primary;
  mask-image: url("/__spritemap#sprite-slider-icon-view");
  mask-repeat: no-repeat;
  left: 17px;
  top: 7px;
}

.juri__button--prev:hover,
.juri__button--next:hover {
  border-color: v.$primary;
}

.juri__button--prev:focus,
.juri__button--next:focus {
  border-color: v.$primary;
  background-color: v.$dirty-white;
}

.juri__button--prev:active,
.juri__button--next:active {
  border-color: v.$primary;
  background-color: v.$primary;
}

.juri__button--prev:active::after,
.juri__button--next:active::after {
  background-color: v.$white;
}

.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 300px;
  background-color: rgba(16, 38, 84, 0.89);
  align-items: center;
  color: v.$white;
  padding-top: 46px;
  padding-bottom: 51px;
  padding-left: 41px;
  padding-right: 41px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(100%);
}

.juri__item:hover .pop-up,
.juri__item:focus .pop-up {
  opacity: 1;
  transform: translateY(0);
}

.juri__item:hover .juri__name {
  display: none;
}

.pop-up__title {
  font-size: 22px;
  line-height: 22px;
  margin: 0;
}

.pop-up__label {
  margin-bottom: 33px;
  margin-top: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.pop-up__list {
  display: grid;
  gap: 12px;
  list-style-type: disc;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  padding: 0;
  max-width: 160px;
  margin: 0 auto;
}

.pop-up__item::marker {
  font-size: 16px;
}

.swiper .swiper-wrapper {
  transform: none;
  box-sizing: border-box;
}

// .swiper .juri__buttons {
//   display: none;

//   @include m.tablet {
//     display: flex;
//   }
// }

.swiper .swiper-slide {
  display: flex;
}
