@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.price {
  background-color: v.$lightest-gray;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
  overflow: hidden;

  @include m.tablet {
    padding-top: 61px;
    padding-bottom: 60px;
  }

  @include m.desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


.price__container {
  @include m.container;

  @include m.tablet {
    padding-left: 194px;
    padding-right: 194px;
  }

  @include m.desktop {
    @include m.container;
  }
}

.price__title {
  text-align: center;
  margin-bottom: 30px;


  @include m.tablet {
    margin-bottom: 36px;
  }

  @include m.desktop {
    margin-bottom: 21px;
  }
}


.price__tabs {
  @include m.list-reset;

  width: 290px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 43px;
  row-gap: 10px;
  margin: 0 auto 30px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include m.tablet {
    width: 310px;
    margin-bottom: 45px;
  }

  @include m.desktop {
    width: 350px;
    margin-bottom: 40px;
  }
}

.price__tab {
  position: relative;
  font-size: 16px;
  line-height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-bottom: 7px;
  opacity: 0.5;
  cursor: pointer;

  @include m.tablet {
    padding-bottom: 6px;
    font-size: 18px;
  }

  @include m.desktop {
    font-size: 20px;
    padding-bottom: 7px;
  }
}


.price__tab--active {
  opacity: 1;
}

.price__tab--active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: v.$red;

  bottom: -2px;
  left: 0;
}

.price__tab:hover,
.price__tab:active {
  color: v.$primary70;
}

.price__tab:hover::after,
.price__tab:focus-visible::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: v.$gray;
  bottom: -2px;
  left: 0;
}

.price__tab:active::after {
  background-color: v.$red;
}

.price__tab:focus,
.price__tab:focus-visible {
  color: v.$primary;
  opacity: 1;
}

.price__tab:focus::after {
  background-color: v.$primary;
  opacity: 1;
}


.price__tab:disabled {
  color: v.$primary30;
}

.price__tab:disabled::after {
  background-color: v.$primary30;
}

.price__list {
  @include m.list-reset;

  position: relative;
  display: none;
}

.price__list--active {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;

  @include m.tablet {
    gap: 40px;
  }

  @include m.desktop {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 40px;
  }
}

.price__list--active::after {
  @include m.tablet {
    position: absolute;
    content: "";
    width: 275px;
    height: 328px;
    bottom: -28px;
    right: -236px;
    background-image: url("../../img/price-decor.png");
    background-position: -91px -27px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @include m.desktop {
    width: 321px;
    height: 384px;
    bottom: -75px;
    right: -239px;
    background-position: -118px -37px;
    background-image: url("../../img/price-decor-big.png");
  }
}

.price__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
  padding: 43px 34px;
  background-color: v.$white;
  margin: 0 auto;
  border: 7px solid transparent;
  box-sizing: border-box;
  z-index: 3;

  @include m.tablet {
    padding: 58px;
    gap: 21px;
    margin: 0;
  }

  @include m.desktop {
    width: 360px;
    overflow: auto;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    gap: 16px;
  }
}

.price__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
  margin: 0;

  @include m.tablet {
    font-size: 24px;
    line-height: 24px;
  }

  @include m.desktop {
    font-size: 26px;
    line-height: 26px;
    margin-top: 1px;
  }
}

.price__desk {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

.price__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.price__shadow {
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  color: #e8e8e8;
  margin: 0;
  opacity: 0.5;

  @include m.tablet {
    font-size: 100px;
    line-height: 154px;
  }
}

.price__amound {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: v.$light-blue;
  margin: 0;
  bottom: 1px;
  left: 38px;

  @include m.tablet {
    font-size: 60px;
    line-height: 90px;
    bottom: 1px;
    left: 50%;
    gap: 14px;
    transform: translateX(-50%);
  }

  @include m.desktop {
    bottom: 2px;
  }
}

.price__amound::after {
  content: "";
  display: block;
  width: 24px;
  height: 34px;
  background-color: v.$primary;
  mask-image: url("/__spritemap#sprite-rub-icon-view");
  mask-repeat: no-repeat;
  mask-size: cover;
  color: v.$primary;

  @include m.tablet {
    width: 31px;
    height: 44px;
  }
}

.price__button {
  display: flex;
  width: 100%;
  padding: 25px 48px;
  margin-top: -1px;

  @include m.tablet {
    padding: 25px 0;
  }

  @include m.desktop {
    max-width: 230px;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
  }
}

.price__rub {
  color: v.$primary;
}

.price__item:hover,
.price__item:focus,
.price__item:focus-visible,
.price__item:focus-within {
  border-image-source: linear-gradient(151deg, v.$red 0%, v.$blue 100%);
  border-image-slice: 1;
}

