@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.reviews {
  @include m.container;
  position: relative;
  padding: 40px;
  margin: 0 auto;
}

.reviews .swiper {
  position: static;
  width: 240px;

  @include m.tablet {
    width: 500px;
  }

  @include m.desktop {
    width: 560px;
  }
}

.reviews__swiper {
  overflow: hidden;
}

.reviews__swiper .swiper-slide {
  display: grid;
  gap: 10px;
  justify-items: center;
  background-color: v.$dark-blue;
  padding: 30px 25px;
  color: v.$white;

  @include m.tablet {
    grid-template-columns: max-content 1fr;
    gap: 40px;
    padding: 40px 30px;
  }

  @include m.desktop {
    padding: 60px;
    grid-area: 30px;
  }
}

.reviews__title {
  margin-bottom: 40px;
  text-align: center;
}

.reviews__list {
  @include m.list-reset;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.reviews__item div:first-child {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  background-color: white;
}

.reviews__item div:last-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  @include m.tablet {
    text-align: left;
    gap: 20px;
  }
}

.reviews__item h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;

  @include m.tablet {
    font-size: 22px;
    line-height: 22px;
  }
}

.reviews__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0;

  @include m.tablet {
    font-style: 16px;
    line-height: 24px;
  }
}



// .reviews__button {
//   @include m.only-mobile {
//     display: none;
//   }

//   width: 50px;
//   height: 50px;
//   border-radius: 100%;
//   background-color: transparent;
//   border: 1px solid transparent;
// }

// .reviews__button--next::after {
//   position: absolute;
//   content: "";
//   display: block;
//   width: 18px;
//   height: 32px;
//   background-color: v.$primary;
//   mask-image: url("/__spritemap#sprite-slider-icon-view");
//   mask-repeat: no-repeat;
//   mask-size: cover;
// }

// .reviews__button--prev::after {
//   position: absolute;
//   content: "";
//   display: block;
//   width: 18px;
//   height: 32px;
//   background-color: v.$primary;
//   mask-image: url("/__spritemap#sprite-slider-icon-view");
//   transform: rotate(180deg);
//   mask-repeat: no-repeat;
//   mask-size: cover;
// }

// .reviews__button--prev {
//   top: 220px;
//   left: 30px;
// }

// .reviews__button--next {
//   top: 220px;
//   right: 30px;
// }
