@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.reviews {
  @include m.container;

  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  @include m.tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include m.desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.reviews .swiper {
  position: static;
  width: 240px;

  @include m.tablet {
    width: 500px;
  }

  @include m.desktop {
    width: 560px;
  }
}

.reviews__swiper {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.reviews__swiper .swiper-slide {
  display: grid;
  gap: 10px;
  justify-items: center;
  background-color: v.$dark-blue;
  padding: 30px 25px;
  color: v.$white;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);

  @include m.tablet {
    grid-template-columns: max-content 1fr;
    gap: 40px;
    padding: 40px 30px;
  }

  @include m.desktop {
    padding: 60px 65px 60px 60px;
    gap: 30px;
  }
}

.reviews__title {
  margin-bottom: 40px;
  text-align: center;

  @include m.tablet {
    margin-bottom: 35px;
    font-size: 54px;
  }

  @include m.desktop {
    margin-bottom: 75px;
  }
}

.reviews__list {
  @include m.list-reset;

  width: 80%;
  margin: 0 auto;
  display: flex;
}

.reviews__item div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: -2px 6px;
  transform: scale(1.5);

  @include m.tablet {
    object-position: -2px 9px;
  }
}

.reviews__item div:first-child {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;

  @include m.tablet {
    width: 80px;
    height: 80px;
  }
}

.reviews__item div:last-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  @include m.tablet {
    text-align: left;
    gap: 19px;
  }

  @include m.desktop {
    gap: 20px;
  }
}

.reviews__item h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 0;

  @include m.tablet {
    font-size: 22px;
    line-height: 23px;
  }

  @include m.desktop {
    line-height: 22px;
  }
}

.reviews__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0;

  @include m.tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

.reviews__button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid transparent;
}

.reviews .swiper-button-prev {
  @include m.only-mobile {
    display: none;
  }

  @include m.tablet {
    width: 50px;
    height: 50px;
    top: 267px;
    left: 29px;
  }

  @include m.desktop {
    top: 355px;
    left: 283px;
  }
}

.reviews .swiper-button-next {
  @include m.only-mobile {
    display: none;
  }

  @include m.tablet {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 267px;
    right: 30px;
  }

  @include m.desktop {
    top: 355px;
    right: 284px;
  }
}


.reviews .swiper-button-prev::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 34px;
  background-color: v.$primary;
  mask-image: url("/__spritemap#sprite-slider-icon-view");
  transform: rotate(180deg);
  mask-repeat: no-repeat;
  left: 12px;
  top: 7px;
}

.reviews .swiper-button-next::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 34px;
  background-color: v.$primary;
  mask-image: url("/__spritemap#sprite-slider-icon-view");
  mask-repeat: no-repeat;
  left: 17px;
  top: 7px;
}

.reviews__button--prev:hover,
.reviews__button--next:hover {
  border-color: v.$primary;
}

.reviews__button--prev:focus,
.reviews__button--next:focus,
.reviews__button--prev:focus-visible,
.reviews__button--next:focus-visible  {
  border-color: v.$primary;
  background-color: v.$dirty-white;
}

.reviews__button--prev:active,
.reviews__button--next:active {
  border-color: v.$primary;
  background-color: v.$primary;
}

.reviews__button--prev:active::after,
.reviews__button--next:active::after {
  background-color: v.$white;
}
