@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;


.socials__list {
  @include m.list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include m.tablet {
    gap: 15px;
    margin-top: 3px;
    margin-left: 2px;
  }

  @include m.desktop {
    gap: 10px;
    margin: 0;
  }
}

.socials__link {
  position: relative;
  display: flex;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: v.$white;
}

.socials__link--vk::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 14px;
  height: 14px;
  background-color: v.$black;
  mask-image: url("/__spritemap#sprite-vk-view");
  mask-repeat: no-repeat;
  mask-size: cover;

  &:hover {
    background-color: v.$white;
  }
}

.socials__link--ok::after {
  position: absolute;
  top: 4px;
  left: 5px;
  content: "";
  width: 14px;
  height: 16px;
  background-color: v.$black;
  mask-image: url("/__spritemap#sprite-ok-view");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.socials__link--reddit::after {
  position: absolute;
  top: 4px;
  left: 4px;
  content: "";
  width: 16px;
  height: 16px;
  background-color: v.$black;
  mask-image: url("/__spritemap#sprite-reddit-view");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.socials__link:hover {
  background: v.$divider;
}

.socials__link:focus,
.socials__link:focus-visible {
  background: $light-blue;
}

.socials__link:active {
  background: v.$primary;
}

.socials__link--disabled {
  background: v.$white30;
  pointer-events: none;
}

.socials__link--vk:hover::after,
.socials__link--reddit:hover::after,
.socials__link--ok:hover::after {
  background-color: v.$white;
}
