@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.video {
  position: relative;
  width: 100%;
  padding-bottom: 170px;
  height: auto;
  overflow: hidden;

  @include m.tablet {
    position: absolute;
    bottom: -84px;
    left: 204px;
    width: 270px;
    height: 170px;
  }

  @include m.desktop {
    left: 7px;
    top: 285px;
    width: 360px;
    height: 230px;
  }
}

.video__link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;


  @include m.tablet {
    width: 270px;
  }

  @include m.desktop {
    width: 360px;
  }
}

.video__placeholder {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include m.tablet {
    width: 270px;
    height: 170px;
    transform: scale(1.1);
    object-position: 7px -7px;
  }

  @include m.desktop {
    width: 360px;
    height: 230px;
    transform: scale(1);
    object-position: 0 0;
  }
}

.video::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(20, 54, 122, 0.5);
  object-fit: cover;
  z-index: 3;
}

.video--no-after::after {
  display: none;
}

.video__button {
  position: absolute;
  content: "";
  z-index: 50;
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: none;
  background: linear-gradient(90deg, v.$red 0%, v.$blue 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @include m.tablet {
    transform: none;
    top: 59px;
    left: 109px;
  }

  @include m.desktop {
    width: 72px;
    height: 72px;
    top: 79px;
    left: 145px;
  }
}

.video__button::before {
  content: "";
  position: absolute;
  display: block;
  right: 14px;
  top: 20px;
  border: 6px solid transparent;
  border-left: 10px solid v.$white;

  @include m.desktop {
    right: 21px;
    top: 29px;
    border: 7px solid transparent;
    border-left: 11px solid v.$white;
  }
}

.video__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 72px;
  height: 72px;
  background-color: transparent;
  border: 2px solid v.$red;
  border-radius: 100%;
  opacity: 0.2;
  top: -10px;
  left: -10px;

  @include m.desktop {
    width: 100px;
    height: 100px;
    top: -14px;
    left: -14px;
  }
}

.video__button:hover,
.video__button:active {
  background: v.$white;
}

.video__button:hover::before {
  border-left: 10px solid v.$primary60;
}

.video__button:hover::after {
  border-color: v.$primary60;
}

.video__button:focus,
.video__button:focus-visible {
  background: v.$light-gray;
}

.video__button:focus::before,
.video__button:active::before {
  border-left: 10px solid v.$primary;
}

.video__button:focus::after,
.video__button:active::after {
  border-color: v.$primary;
}

.video__button:disabled {
  background: v.$white40;
}

.video__button:disabled::after {
  border-color: v.$primary40;
}

.video__button:disabled::before {
  border-left: 10px solid v.$primary40;
}
