$primary: #102654;
$white: #ffffff;
$lightest-gray: #f8f9fc;
$dirty-white: #E8E8E8;
$gray: #787878;
$light-gray: #c8c9cc;
$light-blue: #103aae;
$dark-blue: #1c3374;
$error: #ff121f;
$dark-red: #d10f42;
$red: #ed0233;
$blue: #003eb7;
$black: #030a1a;
$divider: #74819c;
$white80: rgba(255, 255, 255, 0.8);
$white70: rgba(255, 255, 255, 0.7);
$white50: rgba(255, 255, 255, 0.5);
$white40: rgba(255, 255, 255, 0.4);
$white30: rgba(255, 255, 255, 0.3);
$red80: rgba(237, 2, 51, 0.8);
$blue80: rgba(0, 62, 183, 0.8);
$primary70: rgba(16, 38, 84, 0.7);
$primary60: rgba(16, 38, 84, 0.6);
$primary30: rgba(16, 38, 84, 0.3);
$primary20: rgba(16, 38, 84, 0.2);
$gradient: linear-gradient(90deg, $red 0%, $blue 100%);
$features-stroke: rgba(209, 10, 66, 0.2);

$only-mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
